<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="container">
            <% if (message.length > 0) { %>
                <div class="alert alert-warning">
                    <%= message %>
                </div>
            <% } %>            
            <form class="form-signin" action="/signup" method="POST">
                <h3 class="form-signin-heading">Welcome Signup</h3>
                <label for="inputName" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" class="form-control">
                <label for="inputPass" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </body>
</html>